<div class="col-lg-12">
  <a class="list-group-item clearfix">
    <div class="pull-left">
      <h4 class="list-group-item-heading">Restaurant name:
        <b>{{restaurant.name}}</b>
        <span *ngIf="restaurant.deleted" style="color: red">DELETED</span>
      </h4>
      <p class="list-group-item-text">Address:
        <b>{{restaurant.address}}</b>
      </p>
      <p class="list-group-item-text">Category:
        <b>{{restaurant.category}}</b>
      </p>
    </div>

    <div class="pull-right">
      <button class="btn btn-default" (click)="updateItems()">View items
        <i class="glyphicon glyphicon-chevron-down"></i>
      </button>
      <button class="btn btn-default" [routerLink]="['/order/'+ restaurant.id]">Order
        <i class="glyphicon glyphicon-plus"></i>
      </button>
      <button class="btn btn-default" (click)="save()">Save
        <i class="glyphicon glyphicon-heart"></i>
      </button>
    </div>
  </a>
</div>

<br>

<div class="col-lg-5 col-md-offset-4">

  <div *ngIf="showItems">
    <h4>Items for {{restaurant.name}}</h4>
    <app-item *ngFor="let item of items" [item]="item"></app-item>
    <br>
    <hr>
  </div>
</div>
