<div class="col-lg-5" *ngIf="!success">
    <h3>Create new restaurant</h3>
    <form #updateRestaurantForm="ngForm" (ngSubmit)="onUpdateSubmit(updateRestaurantForm)" class="form-signin">
      <div class="form-group">
        <label for="name">Restaurant name</label>
        <input type="text" id="name" name="name" class="form-control" required autofocus ngModel #nameRef="ngModel" [(ngModel)]="restaurantToUpdate.name">
        <span class="help-block" *ngIf="!nameRef.valid && nameRef.touched">Name is required!</span>
      </div>

      <div class="form-group">
        <label for="address">Address</label>
        <input type="text" id="address" name="address" class="form-control" required ngModel #addressRef="ngModel" [(ngModel)]="restaurantToUpdate.address">
        <span class="help-block" *ngIf="!addressRef.valid && addressRef.touched">Description is required!</span>
      </div>


      <div class="form-group">
        <label for="category">Category</label>
        <!-- <input type="text" id="description" name="description" class="form-control" required ngModel #descriptionRef="ngModel"> -->
        <select name="category" id="category" class="form-control" [(ngModel)]="restaurantToUpdate.category">
          <option value="INDIAN">INDIAN</option>
          <option value="PIZZA">PIZZA</option>
          <option value="CHINEESE">CHINEESE</option>
        </select>
        <!-- <span class="help-block" *ngIf="!descriptionRef.valid && descriptionRef.touched">Description is required!</span> -->
      </div>

      <button type="submit" class="btn btn-lg btn-primary btn-block" [disabled]="!updateRestaurantForm.valid">Sumbit</button>
      <button class="btn btn-lg btn-danger btn-block" routerLink="/">Cancel</button>
    </form>
  </div>

  <div class="col-lg-5" *ngIf="success">
      <h2>You successfully updated the restaurant!</h2>
    </div>
