<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <ul class="nav nav-tabs">
        <li role="presentation" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
          <a routerLink="items">Items</a>
        </li>
        <li role="presentation" routerLinkActive="active" data-toggle="tab">
          <a routerLink="oglasi">Restaurants</a>
        </li>
        <li role="presentation" routerLinkActive="active">
          <a routerLink="admin">Vehicles</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
